<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Conf>
            <version>0.1.0</version>
        </Oro_Conf>
    </modules>
    <global>
        <models>
            <oro_conf>
                <class>Oro_Conf_Model</class>
            </oro_conf>
            <amconf>
                <rewrite>
                    <observer>Oro_Conf_Model_Observer</observer>
                </rewrite>
            </amconf>
        </models>
    </global>
</config>