<?xml version="1.0"?>
<config>
    <modules>
        <Oro_FeaturedProducts>
            <version>0.2.0</version>
        </Oro_FeaturedProducts>
    </modules>
    <global>
        <models>
            <oro_featuredproducts>
                <class>Oro_FeaturedProducts_Model</class>
                <resourceModel>oro_featuredproducts_resource</resourceModel>
            </oro_featuredproducts>
            <oro_featuredproducts_resource>
                <class>Oro_FeaturedProducts_Model_Resource</class>
            </oro_featuredproducts_resource>
        </models>
        <blocks>
            <oro_featuredproducts>
                <class>Oro_FeaturedProducts_Block</class>
            </oro_featuredproducts>
        </blocks>
        <helpers>
            <oro_featuredproducts>
                <class>Oro_FeaturedProducts_Helper</class>
            </oro_featuredproducts>
        </helpers>
        <resources>
            <oro_featuredproducts_setup>
                <setup>
                    <module>Oro_FeaturedProducts</module>
                    <class>Oro_FeaturedProducts_Model_Resource_Setup</class>
                </setup>
            </oro_featuredproducts_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <feature_products>
                    <file>jewelersclub_featured_products.xml</file>
                </feature_products>
            </updates>
        </layout>
    </frontend>
</config>