<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Luckydraw>
            <version>0.1.1</version>
        </Magestore_Luckydraw>
    </modules>
    <frontend>
        <routers>
            <luckydraw>
                <use>standard</use>
                <args>
                    <module>Magestore_Luckydraw</module>
                    <frontName>luckydraw</frontName>
                </args>
            </luckydraw>
        </routers>
        <layout>
            <updates>
                <luckydraw>
                    <file>luckydraw.xml</file>
                </luckydraw>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Luckydraw>
                    <files>
                        <default>Magestore_Luckydraw.csv</default>
                    </files>
                </Magestore_Luckydraw>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<luckydrawadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Luckydraw</module>
					<frontName>luckydrawadmin</frontName>
				</args>
			</luckydrawadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<luckydraw>
					<file>luckydraw.xml</file>
				</luckydraw>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Luckydraw>
                    <files>
                        <default>Magestore_Luckydraw.csv</default>
                    </files>
                </Magestore_Luckydraw>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <luckydraw>
                <class>Magestore_Luckydraw_Model</class>
                <resourceModel>luckydraw_mysql4</resourceModel>
            </luckydraw>
            <luckydraw_mysql4>
                <class>Magestore_Luckydraw_Model_Mysql4</class>
                <entities>
                    <program>
                        <table>luckydraw_program</table>
                    </program>
                    <code>
						<table>luckydraw_code</table>
					</code>
                </entities>
            </luckydraw_mysql4>
        </models>
        <resources>
            <luckydraw_setup>
                <setup>
                    <module>Magestore_Luckydraw</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </luckydraw_setup>
            <luckydraw_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </luckydraw_write>
            <luckydraw_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </luckydraw_read>
        </resources>
        <blocks>
            <luckydraw>
                <class>Magestore_Luckydraw_Block</class>
            </luckydraw>
        </blocks>
        <helpers>
            <luckydraw>
                <class>Magestore_Luckydraw_Helper</class>
            </luckydraw>
        </helpers>
        <sales>
			<quote>
                <totals>
					<luckydraw>
						<class>luckydraw/total_address_luckydraw</class>
						<after>wee,discount,grand_total</after>
					</luckydraw>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<luckydraw>
						<class>luckydraw/total_invoice_luckydraw</class>
					</luckydraw>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<luckydraw>
						<class>luckydraw/total_creditmemo_luckydraw</class>
					</luckydraw>
				</totals>
			</order_creditmemo>
		</sales>
		<pdf>
			<totals>
				<luckydraw translate="title">
					<title>Lucky Draw Discount</title>
					<source_field>luckydraw_discount</source_field>
					<model>luckydraw/total_pdf_luckydraw</model>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>251</sort_order>
				</luckydraw>
			</totals>
		</pdf>
		<fieldsets>
			<sales_convert_quote_address>
				<base_luckydraw_discount><to_order>*</to_order></base_luckydraw_discount>
				<luckydraw_discount><to_order>*</to_order></luckydraw_discount>
			</sales_convert_quote_address>
		</fieldsets>
        <events>
			<controller_front_init_routers>
				<observers>
					<luckydraw>
						<class>Magestore_Luckydraw_Controller_Router</class>
						<method>initControllerRouters</method>
					</luckydraw>
				</observers>
			</controller_front_init_routers>
            <customer_save_after>
                <observers>
					<luckydraw>
						<type>singleton</type>
						<class>luckydraw/observer</class>
						<method>customerSaveAfter</method>
					</luckydraw>
				</observers>
            </customer_save_after>
			<paypal_prepare_line_items>
				<observers>
					<luckydraw>
						<type>singleton</type>
						<class>luckydraw/observer</class>
						<method>paypalPrepareItems</method>
					</luckydraw>
				</observers>
			</paypal_prepare_line_items>
			<sales_order_place_after>
				<observers>
					<luckydraw>
						<type>singleton</type>
						<class>luckydraw/observer</class>
						<method>orderPlaceAfter</method>
					</luckydraw>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<luckydraw>
						<type>singleton</type>
						<class>luckydraw/observer</class>
						<method>orderSaveAfter</method>
					</luckydraw>
				</observers>
			</sales_order_save_after>
		</events>
		<template>
			<email>
                <luckydraw_email_confirmation_template translate="label" module="luckydraw">
                    <label>Lucky code confirmation email template sent to user when he registers</label>
					<file>luckydraw/confirmation.html</file>
					<type>html</type>
                </luckydraw_email_confirmation_template>
				<luckydraw_email_register_user_template translate="label" module="luckydraw">
					<label>Lucky code email template sent to user when he registers</label>
					<file>luckydraw/register.html</file>
					<type>html</type>
				</luckydraw_email_register_user_template>
				<luckydraw_email_refer_user_template translate="label" module="luckydraw">
					<label>Lucky code email template sent to user when referral registers</label>
					<file>luckydraw/referral.html</file>
					<type>html</type>
				</luckydraw_email_refer_user_template>
				<luckydraw_email_winner_template translate="label" module="luckydraw">
					<label>Lucky Draw Email template sent to winner</label>
					<file>luckydraw/winner.html</file>
					<type>html</type>
				</luckydraw_email_winner_template>
				<luckydraw_email_admin_template translate="label" module="luckydraw">
					<label>Lucky Draw Email template sent to admin</label>
					<file>luckydraw/admin.html</file>
					<type>html</type>
				</luckydraw_email_admin_template>
				<luckydraw_email_refer_template translate="label" module="luckydraw">
					<label>Lucky Draw Refer Friend template</label>
					<file>luckydraw/refer.html</file>
					<type>html</type>
				</luckydraw_email_refer_template>
			</email>
		</template>
    </global>
    <default>
		<luckydraw>
			<general>
				<enable>1</enable>
				<refund_orderstatus>closed,canceled</refund_orderstatus>
			</general>
            <register>
                <verify>1</verify>
                <national_id_show>req</national_id_show>
                <dob_show>opt</dob_show>
                <gender_show>opt</gender_show>
				<captcha>1</captcha>
            </register>
			<refer>
                <user_per_code>1</user_per_code>
				<refer_description><![CDATA[Share the link below with your friends to receive another lucky code when your friends join in the program:]]></refer_description>
				<email_subject><![CDATA[Good lucky draw]]></email_subject>
				<email_content><![CDATA[Dear {{friend_name}},
I have received a lucky draw code from {{store_name}} and feel really happy.
You can also receive one if you click on my link below! Check it out:
{{personal_url}}

Thank you,
{{account_name}}]]></email_content>
				<sharing_message><![CDATA[I have received a lucky draw code from {{store_name}} and feel really happy. You can also receive one if you click on my link below! Check it out: {{personal_url}}]]></sharing_message>
			</refer>
			<email>
				<is_sent_register_user>1</is_sent_register_user>
				<is_sent_refer_user>1</is_sent_refer_user>
				<is_sent_winner>1</is_sent_winner>
				<email_sender>general</email_sender>
                <confirmation_template>luckydraw_email_confirmation_template</confirmation_template>
				<register_user_template>luckydraw_email_register_user_template</register_user_template>
				<refer_user_template>luckydraw_email_refer_user_template</refer_user_template>
				<winner_template>luckydraw_email_winner_template</winner_template>
				<admin_template>luckydraw_email_admin_template</admin_template>
				<refer_template>luckydraw_email_refer_template</refer_template>
			</email>
		</luckydraw>
	</default>
    <crontab>
    	<jobs>
    		<luckydraw>
    			<schedule>
    				<cron_expr>0 5 * * *</cron_expr>
    			</schedule>
    			<run>
    				<model>luckydraw/observer::refreshDrawProgram</model>
    			</run>
    		</luckydraw>
    	</jobs>
    </crontab>
</config>