<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Sitemap>
            <version>0.1.0</version>
        </Oro_Sitemap>
    </modules>
    <global>
        <models>
            <oro_sitemap>
                <class>Oro_Sitemap_Model</class>
            </oro_sitemap>
            <sitemap>
                <rewrite>
                    <sitemap>Oro_Sitemap_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <events>
            <sitemap_categories_generating_before>
                <observers>
                    <set_category_url_suffix>
                        <class>oro_sitemap/observer</class>
                        <method>addSeoSuffixToCategoryUrl</method>
                    </set_category_url_suffix>
                </observers>
            </sitemap_categories_generating_before>
            <sitemap_products_generating_before>
                <observers>
                    <set_product_url_suffix>
                        <class>oro_sitemap/observer</class>
                        <method>addSeoSuffixToProductUrl</method>
                    </set_product_url_suffix>
                </observers>
            </sitemap_products_generating_before>
        </events>
    </global>
</config>