<?xml version="1.0"?>
<config>
    <sections>
        <besociable>                              
            <groups>
                <facebook>
                    <fields>
                        <post_time translate="label">
                            <label>Schedule Posting Time (hh:mm:ss)</label>
                            <frontend_type>time</frontend_type>
                            <backend_model>oro_sociable/config_backend_cron</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </post_time>
                    </fields>
                </facebook>
            </groups>
        </besociable>
     </sections>
</config>
