<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Category>
            <version>0.3.0</version>
        </Oro_Category>
    </modules>
    <global>
        <models>
            <oro_category>
                <class>Oro_Category_Model</class>
                <resourceModel>oro_category_resource</resourceModel>
            </oro_category>
            <oro_category_resource>
                <class>Oro_Category_Model_Resource</class>
            </oro_category_resource>
            <catalog_resource>
                <rewrite>
                    <category>Oro_Category_Model_Resource_Category</category>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <oro_category>
                <class>Oro_Category_Block</class>
            </oro_category>
        </blocks>
        <helpers>
            <oro_category>
                <class>Oro_Category_Helper</class>
            </oro_category>
        </helpers>
        <resources>
            <oro_category_setup>
                <setup>
                    <module>Oro_Category</module>
                </setup>
            </oro_category_setup>
        </resources>
    </global>
</config>