<?xml version="1.0"?>
<config>
    <modules>
        <Oro_AdvSlider>
            <version>0.4.0</version>
        </Oro_AdvSlider>
    </modules>
    <global>
        <models>
            <oro_advslider>
                <class>Oro_AdvSlider_Model</class>
                <resourceModel>oro_advslider_resource</resourceModel>
            </oro_advslider>
            <oro_advslider_resource>
                <class>Oro_AdvSlider_Model_Resource</class>
                <entities>
                    <category_banner>
                        <table>catalog_category_banner</table>
                    </category_banner>
                </entities>
            </oro_advslider_resource>
        </models>
        <blocks>
            <oro_advslider>
                <class>Oro_AdvSlider_Block</class>
            </oro_advslider>
        </blocks>
        <helpers>
            <oro_advslider>
                <class>Oro_AdvSlider_Helper</class>
            </oro_advslider>
        </helpers>
        <resources>
            <oro_advslider_setup>
                <setup>
                    <module>Oro_AdvSlider</module>
                </setup>
            </oro_advslider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oro_advslider before="Mage_Adminhtml">Oro_AdvSlider_Adminhtml</oro_advslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <oro_advslider>
                    <file>advslider.xml</file>
                </oro_advslider>
            </updates>
        </layout>
        <events>
            <catalog_category_save_after>
                <observers>
                    <oro_advslider>
                        <class>oro_advslider/adminhtml_observer</class>
                        <method>bindRelatedBannersToCategory</method>
                    </oro_advslider>
                </observers>
            </catalog_category_save_after>
        </events>
    </adminhtml>
</config>
