<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Membership>
            <version>0.1.0</version>
        </Oro_Membership>
    </modules>
    <global>
        <helpers>
            <oro_membership>
                <class>Oro_Membership_Helper</class>
            </oro_membership>
            <membership>
                <rewrite>
                    <data>Oro_Membership_Helper_Data</data>
                </rewrite>
            </membership>
        </helpers>
        <models>
            <oro_membership>
                <class>Oro_Membership_Model</class>
                <resourceModel>oro_membership_resource</resourceModel>
            </oro_membership>
            <oro_membership_resource>
                <class>Oro_Membership_Model_Resource</class>
            </oro_membership_resource>
            <catalog_resource>
                <rewrite>
                    <product_indexer_price_default>Unirgy_DropshipMultiPrice_Model_PriceIndexer_CE1700_Default</product_indexer_price_default>
                    <product_indexer_price_grouped>Unirgy_DropshipMultiPrice_Model_PriceIndexer_CE1700_Grouped</product_indexer_price_grouped>
                    <product_indexer_price_configurable>Unirgy_DropshipMultiPrice_Model_PriceIndexer_CE1700_Configurable</product_indexer_price_configurable>
                </rewrite>
            </catalog_resource>
            <downloadable_resource>
                <rewrite>
                    <indexer_price>Unirgy_DropshipMultiPrice_Model_PriceIndexer_CE1700_Downloadable</indexer_price>
                </rewrite>
            </downloadable_resource>
            <bundle_resource>
                <rewrite>
                    <indexer_price>Unirgy_DropshipMultiPrice_Model_PriceIndexer_CE1700_Bundle</indexer_price>
                </rewrite>
            </bundle_resource>
            <enterprise_giftcard_resource>
                <rewrite>
                    <indexer_price>Unirgy_DropshipMultiPrice_Model_PriceIndexer_EE11300_GiftCard</indexer_price>
                </rewrite>
            </enterprise_giftcard_resource>
            <membership>
                <rewrite>
                    <package>Oro_Membership_Model_Package</package>
                </rewrite>
            </membership>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>oro_membership/observer</class>
                        <method>sales_order_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </sales_order_save_after>
            <catalog_product_get_final_price>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>oro_membership/observer</class>
                        <method>catalog_product_get_final_price</method>
                    </magestore_membership_observer>
                </observers>
            </catalog_product_get_final_price>
            <customer_save_after>
                <observers>
                    <magestore_membership_observer>
                        <type>singleton</type>
                        <class>oro_membership/observer</class>
                        <method>customer_save_after</method>
                    </magestore_membership_observer>
                </observers>
            </customer_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <membership>
                <args>
                    <modules>
                        <oro_membership before="Magestore_Membership">Oro_Membership</oro_membership>
                    </modules>
                </args>
            </membership>
        </routers>
    </admin>
    <frontend>
        <routers>
            <membership>
                <args>
                    <modules>
                        <oro_membership before="Magestore_Membership">Oro_Membership</oro_membership>
                    </modules>
                </args>
            </membership>
        </routers>
    </frontend>
</config>
