<?xml version="1.0" ?>
<config>
	<modules>
		<Itoris_ViewMoreProducts>
			<version>1.0.0</version>
		</Itoris_ViewMoreProducts>
	</modules>
	<global>
		<blocks>
			<itoris_viewmoreproducts>
				<class>Itoris_ViewMoreProducts_Block</class>
			</itoris_viewmoreproducts>
		</blocks>
		<helpers>
			<itoris_viewmoreproducts>
				<class>Itoris_ViewMoreProducts_Helper</class>
			</itoris_viewmoreproducts>
		</helpers>
		<models>
			<itoris_viewmoreproducts>
				<class>Itoris_ViewMoreProducts_Model</class>
			</itoris_viewmoreproducts>
		</models>
		<resources>
			<itoris_viewmoreproducts_setup>
				<setup>
					<module>Itoris_ViewMoreProducts</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itoris_viewmoreproducts_setup>
			<itoris_viewmoreproducts_write>
				<connection><use>core_write</use></connection>
			</itoris_viewmoreproducts_write>
			<itoris_viewmoreproducts_read>
				<connection><use>core_read</use></connection>
			</itoris_viewmoreproducts_read>
		</resources>
	</global>
	<admin>
		<routers>
			<itoris_viewmoreproducts>
				<use>admin</use>
				<args>
					<module>Itoris_ViewMoreProducts</module>
					<frontName>itoris_viewmoreproducts</frontName>
				</args>
			</itoris_viewmoreproducts>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<itoris_viewmoreproducts>
					<file>itoris_viewmoreproducts.xml</file>
				</itoris_viewmoreproducts>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_ViewMoreProducts>
					<files>
						<default>Itoris_ViewMoreProducts.csv</default>
					</files>
				</Itoris_ViewMoreProducts>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<itoris_viewmoreproducts>
				<use>standard</use>
				<args>
					<module>Itoris_ViewMoreProducts</module>
					<frontName>itoris_viewmoreproducts</frontName>
				</args>
			</itoris_viewmoreproducts>
		</routers>
		<layout>
			<updates>
				<itoris_viewmoreproducts>
					<file>itoris_viewmoreproducts.xml</file>
				</itoris_viewmoreproducts>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_ViewMoreProducts>
					<files>
						<default>Itoris_ViewMoreProducts.csv</default>
					</files>
				</Itoris_ViewMoreProducts>
			</modules>
		</translate>
	</frontend>
</config>